// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');

* {
  font-family: 'Noto Sans', sans-serif;
}

html,
body {
  font-size: 16px;
  color: $heavy-text;
}

.form-wrapper {
  max-width: 768px !important;
}